.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

body {
   background-color: rgb(231, 229, 229);
}

.themGioHang {
   transition-duration: 0.3s;
   border: 1px solid #ee4d2d;
   border-radius: 2%;
   height: 50px;
   color: #ee4d2d;
   background-color: rgba(255, 87, 34, 0.1);
}
.themGioHang:hover {
   background-color: white;
}

.muaHang {
   transition-duration: 0.3s;
   border: 1px solid #ee4d2d;
   border-radius: 2%;
   height: 50px;
   color: white;
   background-color: #ee4d2d;
}
.muaHang:hover {
   background-color: #fc6344;
}

.xemShop {
   transition-duration: 0.3s;
   border: 1px solid gray;
   border-radius: 2%;
   height: 35px;
   width: 130px;
   color: gray;
   background-color: white;
}

.xemShop:hover {
   background-color: whitesmoke;
}

.card-product {
   transition-duration: 0.3s;
   border: 3px solid rgb(231, 229, 229);
   background-color: white;
}
.card-product:hover {
   border: 4px solid #ee4d2d;
}
